<div class="cardCont">
  <div class="flex-col between-md sliderCont" [style.backgroundImage]="
          'url(assets/img/Mask_2.png)'
        " style="width: 22rem;">
    <app-buttons [btnTitle]="" [btnURL]="" [icon]="" [customClass]=""></app-buttons>
    <app-buttons [btnTitle]="removeResidenceBtnName" [btnURL]="removeResidenceURLLink" [icon]="removeResidenceBtnIcon"
      [customClass]="removeResidenceCustomClass"></app-buttons>
  </div>
</div>
<div style="padding-top: 1.5rem;">
  <label for="" style="margin-left: 1rem;">:عنوان</label>
  <input type="text" style="background-color: white;
    border: 1px solid silver;
    width: 20rem;
    height: 3rem;
    border-radius: 2.5rem;">
</div>