<div class="row">
  <div class="col-md-16 aboutContainer">
    <div class="flex-col center-md middle-md aboutTitle">درباره ما</div>
    <div class="aboutContent">
      <h6>مزیت موسم</h6>
      <p>
        موسم با هدف افزایش کیفیت سفر ایرانیان عزیز توسط گروهی از جوانان این مرز
        و بوم تاسیس گشته است. هدف ما در موسم ارتقای کیفیت سفر برای هم میهنان
        عزیزمان میباشد. موسم این امکان را فراهم کرده تا مسافرین بتوانند از طریق
        موسم ویلا ، آپارتمان ، سوییت را رزرو کرده و سفری خاطره انگیز را تجربه
        کنند. همچنین موسم این امکان را برای میزبانان فراهم کرده تا بتوانند با
        اجاره واحدهای اقامتی خود (اجاره ویلا ، آپارتمان ، سوییت) از طریق موسم
        کسب درآمد کنند. از بزرگترین معضل های سفر پیدا کردن مکان اسکان مناسب است.
        همچنین تعدادی از اجاره دهندگان با چرب زبانی و با سوء استفاده از درماندگی
        مسافر مکان هایی را با قیمت های گزاف برای اجاره پیشنهاد می دهند که گاهاً
        درخور شان مسافرین عزیز نمی باشد. حتی طبق تجربه برخی از مشتریان ما افراد
        بومی ویلا هایی را به آنها پیشنهاد داده اند که همزمان یک یا دو خانواده
        دیگر نیز در آنجا سکونت داشتند و این مسافرت که قرار بود باعث آرامش و
        تفریح مسافرین باشد چیزی جز خاطره ای تلخ و آزار دهنده برای آنها به جا
        نگذاشته است. اما در وب سایت موسم که در زمینه اجاره ویلا مبله تخصص و
        سابقه طولانی دارد، شما می توانید پیش از مسافرت ویلای دلخواه خود را در
        بهترین منطقه پیدا نموده و حتی تصاویر و لوازم موجود در ویلا رو از قبل
        مشاهده نمائید، سپس ویلا را رزرو کنید. همچنین کارشناسان ما بصورت آنلاین
        آماده پاسخگویی به تمامی سوالات شما مشتریان عزیز هستند و به شما در زمینه
        اجاره ویلا با امکانات و قیمت های متفاوت مشاوره می دهند. موسم بستری است
        که مسافرین میتوانند به راحتی واحدهای موجود در موسم را جستجو کرده و با
        توجه به تعداد نفرات ، امکانات و بودجه مورد نظر خود واحد مناسب و با
        کیفیتی را پیدا کرده و از طریق موسم برای تاریخ مشخصی رزرو کنند. همچنین با
        توجه به اینکه واحدها در موسم توسط مسافرین امتیازدهی میشوند مسافرین
        میتوانند واحدهایی که سایر کاربران از آنها رضایت داشته اند را انتخاب
        نمایند. با موسم دیگر نیاز نیست برای اجاره ویلا به تابلو به دست هایی که
        در کنار جاده ها ایستادند و معلوم نیست واحدهایی با چه کیفیتی را به
        مسافرین ارائه میدهند اعتماد کنید. با استفاده از موسم میزبانان واحدهای
        اقامتی شامل ویلا، آپارتمان، سوییت و ... میتوانند با ثبت ملک خود و اجاره
        آن از طریق موسم کسب درآمد کنند ،رزوز های خود را در تقویم موسم مدیریت
        کنند، امور مالی خود را مدیریت کنند و با مقایسه املاک مشابه به بهبود
        املاک خود بپردازند و از طریق این فعالیت ها به درآمد بیشتری دست پیدا کنند
      </p>
      <h6>موسم برای مسافران</h6>
      <p>
        موسم با هدف افزایش کیفیت سفر ایرانیان عزیز توسط گروهی از جوانان این مرز
        و بوم تاسیس گشته است. هدف ما در موسم ارتقای کیفیت سفر برای هم میهنان
        عزیزمان میباشد. موسم این امکان را فراهم کرده تا مسافرین بتوانند از طریق
        موسم ویلا ، آپارتمان ، سوییت را رزرو کرده و سفری خاطره انگیز را تجربه
        کنند. همچنین موسم این امکان را برای میزبانان فراهم کرده تا بتوانند با
        اجاره واحدهای اقامتی خود (اجاره ویلا ، آپارتمان ، سوییت) از طریق موسم
        کسب درآمد کنند. از بزرگترین معضل های سفر پیدا کردن مکان اسکان مناسب است.
        همچنین تعدادی از اجاره دهندگان با چرب زبانی و با سوء استفاده از درماندگی
        مسافر مکان هایی را با قیمت های گزاف برای اجاره پیشنهاد می دهند که گاهاً
        درخور شان مسافرین عزیز نمی باشد. حتی طبق تجربه برخی از مشتریان ما افراد
        بومی ویلا هایی را به آنها پیشنهاد داده اند که همزمان یک یا دو خانواده
        دیگر نیز در آنجا سکونت داشتند و این مسافرت که قرار بود باعث آرامش و
        تفریح مسافرین باشد چیزی جز خاطره ای تلخ و آزار دهنده برای آنها به جا
        نگذاشته است. اما در وب سایت موسم که در زمینه اجاره ویلا مبله تخصص و
        سابقه طولانی دارد، شما می توانید پیش از مسافرت ویلای دلخواه خود را در
        بهترین منطقه پیدا نموده و حتی تصاویر و لوازم موجود در ویلا رو از قبل
        مشاهده نمائید، سپس ویلا را رزرو کنید. همچنین کارشناسان ما بصورت آنلاین
        آماده پاسخگویی به تمامی سوالات شما مشتریان عزیز هستند و به شما در زمینه
        اجاره ویلا با امکانات و قیمت های متفاوت مشاوره می دهند. موسم بستری است
        که مسافرین میتوانند به راحتی واحدهای موجود در موسم را جستجو کرده و با
        توجه به تعداد نفرات ، امکانات و بودجه مورد نظر خود واحد مناسب و با
        کیفیتی را پیدا کرده و از طریق موسم برای تاریخ مشخصی رزرو کنند. همچنین با
        توجه به اینکه واحدها در موسم توسط مسافرین امتیازدهی میشوند مسافرین
        میتوانند واحدهایی که سایر کاربران از آنها رضایت داشته اند را انتخاب
        نمایند. با موسم دیگر نیاز نیست برای اجاره ویلا به تابلو به دست هایی که
        در کنار جاده ها ایستادند و معلوم نیست واحدهایی با چه کیفیتی را به
        مسافرین ارائه میدهند اعتماد کنید. با استفاده از موسم میزبانان واحدهای
        اقامتی شامل ویلا، آپارتمان، سوییت و ... میتوانند با ثبت ملک خود و اجاره
        آن از طریق موسم کسب درآمد کنند ،رزوز های خود را در تقویم موسم مدیریت
        کنند، امور مالی خود را مدیریت کنند و با مقایسه املاک مشابه به بهبود
        املاک خود بپردازند و از طریق این فعالیت ها به درآمد بیشتری دست پیدا کنند
      </p>
    </div>
  </div>
</div>
