<div class="flex-col between-md myProfileContainer">
  <div class="col-md-4 top-md">
    <div class="profileCard">
      <div class="flex-col middle-md column-md userInfo links">
        <div class="square">
          <div class="circle">
            <h3 style="padding: 0.5rem">
              3
            </h3>
            <h5 style="padding: 0.5rem">
              اقامتگاه
            </h5>
          </div>
          <p style="margin-top: 1.5rem;">
            چندتا اقامگاه نشان کردم؟
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-11 between-md ">
    <div class="flex-col column-md editprofileContainer">
      <div class="flex-col middle-md editprofileHeader  ">
        <div class="col-md-16  border-bottom ">
          <div class="flex-col column-md ">
            <h6 class="pad">
              اقامتگاه‌های نشان‌شده
            </h6>
            <p class="space">
              اینجا می‌توانید اقامتگاه‌های نشان‌شده را مشاهده کنید.
            </p>
          </div>
        </div>
      </div>
      <div class="flex-col content space-between between-md bgc">
        <div class="col between-md">
          <app-favorite-card></app-favorite-card>
        </div>
        <div class="col between-md">
          <app-favorite-card></app-favorite-card>
        </div>
        <div class="col between-md">
          <app-favorite-card></app-favorite-card>
        </div>
      </div>
    </div>

  </div>

</div>
