<div class="col-md-16" [ngStyle]="{ 'margin-top': '7rem' }">
  <div class="row flex-col column-md">
    <div
      class="image"
      [style.backgroundImage]="'url(assets/img/image-40.png)'"
    ></div>
    <div class="flex-col column-md titles">
      <div class="title">
        <h5>راهنمای جامع موسم برای مسافران استان دیدنی فارس</h5>
      </div>
      <div class=" flex-col subTitle">
        <p>۱۲ اسفند ۱۳۹۸</p>
        <p>نوشته آرش خرسند</p>
      </div>
    </div>

    <div class="description">
      <p>
        فارس، افتخار ایرانیان و مقصد گردشگری مهم کشور هم برای ایرانگردان داخلی و
        هم بین المللی، از جمله استان های پر توریست کشور بوده که سالانه با
        استقبال میلیون ها گردشگر از سراسر جهان مواجه می شود. موسم، برای اقامت
        خوب و خوش هموطنان در این استان زیبا، فرصت های اقامتی گوناگونی را تدارک
        دیده است که میتوانید از آن در طول سال استفاده کنید. اقامت در خانه های
        شهری و رستایی فارسی های خونگرم، تجربه دیدنی کمتری از تماشای پاسارگاد و
        تخت جمشید نیست. استان فارس، همچون استان تهران و استان اصفهان، مقصد شماره
        ۱ گردشگری گردشگران بین المللی در ایران است. شهر تاریخی و دیدنی شیراز،
        جایی است که بخشی از فرهنگ و تمدن بزرگ ایران زمین را میتوان در محوطه های
        باستانی آن که ثبت جهانی شده است، مشاهده کرد. شاید بتوان اغراق کرد که سفر
        به ایران، بدون تماشای تخت جمشید و پاسارگاد، توفیق چندانی ندارد. چرا که
        یکی از مهم ترین و معروف ترین آثار تمدنی و ظرفیت گردشگری بین المللی
        ایران، در این استان قرار دارد.
      </p>

      <div
        class="image"
        [style.backgroundImage]="'url(assets/img/image-41.png)'"
      ></div>

      <p>
        توجه داشته باشید که از مراکز استان های ایران، با هواپیما میتوان به
        فرودگاه بین المللی شیراز رفت و از آنجا، با اتوبوس و تاکسی، نقاط مختلف
        گردشگری شیراز و مناطق اطراف را تماشا کرد. استان فارس، به دلیل قرار گیری
        در مناطق جنوبی ایران، در همه فصول سال، مقصد خوبی برای گردشگران ایرانی و
        بین المللی به شمار می رود. استان فارس، چهارمین استان پر جمعیت ایران است
        و همچون استان گلستان، جشنواره ای از ظرفیت های گردشگری و تاریخی متعدد
        بوده که سالانه میلیون ها گردشگر از سراسر ایران و جهان از آن بازدید می
        کنند. بنابراین اگر فصد سفر به شیراز را داشتید، حتما پیش از سفر، نسبت به
        رزرو هتل یا هتل آپارتمان یا استفاده از مراکز اقامتی موسم در این دیار
        اقدام کنید.
      </p>

      <div class="title"><h5>سفر به شیراز</h5></div>
      <p>
        شیراز برای ایرانی ها، یادآور شاعران نامداری همچون حافظ و سعدی است که
        دیوار اشعار این ادیبان نامدار که قدمتی ۶۰۰ ساله دارد، به ده ها زبان
        ترجمه شده و ایرانیان از این دو، به عنوان افتخار فرهنگ و ادب خود یاد می
        کنند. بسیاری از بناها، مراکز علمی و آموزشی و تفریحی و حتی نام خیابان های
        مهم در تهران و سایر شهرهای ایران، به نام حافظ شیرازی و سعدی شیرازی است.
        خلاصه، اگر به شیراز رفتید، سراغ آرامگاه های سعدی و حافظ را بگیرید که در
        طول روز، هزاران گردشگر از این دو مکان مذهبی و فرهنگی دیدن می کنند.
      </p>
      <div
        class="image"
        [style.backgroundImage]="'url(assets/img/image-42.png)'"
      ></div>

      <p>
        اگر تنها سوغات شما از سفر به ایران، خرید کتاب دیوان اشعار سعدی یا حافظ
        به زبان انگلیسی یا زبان مورد علاقه شما باشد، به نظر می رسد که بهترین
        سوغات را از ایران به کشور خود برده اید. جهانی از شنیدنی ها، حکمت ها،
        سخنان عارفانه و اخلاقی و ده ها داستان آموزنده تاریخی و جذاب را میتوان در
        کتاب های دیوان اشعار این دو شاعر نامدار ادبیات ایران زمین دریافت کرد.
      </p>
      <div class="title"><h5>حرم احمد بن موسی</h5></div>
      <p>
        یکی از معروف ترین مقصدهای گردشگری مذهبی ایران در شهر شیراز قرار دارد که
        شاهچراغ نام دارد. شاهچراغ، نام حرم مقدس احمد بن موسی است که برای شیعیان
        ایران، احترام و قداست خاصی دارد. آرامگاه احمد بن موسی بن جعفر (ع)، برادر
        بزرگوار امام رضا (ع) در شیراز است که به سومین حرم اهل بیت در ایران شهرت
        یافته است.
      </p>

      <div
        class="image"
        [style.backgroundImage]="'url(assets/img/image-43.png)'"
      ></div>
    </div>

    <div class="relatedArticles">
      <div class="title"><h5>مقالات مرتبط</h5></div>
      <app-related-article-slider [news]="articles"></app-related-article-slider>
    </div>
  </div>
</div>
