@import "./../../../../assets/scss/abstract/headquarters";

.image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 60rem;
  border-radius: $border_radius;
  align-self: center;
}
.titles {
  width: 80%;
  align-self: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid $gray_border;
  margin-bottom: 2rem;
  .title {
    h5 {
      color: $main_font_color;
      margin: 1rem 0;
    }
  }

  .subTitle {
    p {
      color: $font_gray_desc;
      &:first-child {
        padding-left: 1rem;
        border-left: 1px solid $gray_border;
      }

      &:last-child {
        padding-right: 1rem;
      }
    }
  }
}

.description {
  width: 80%;
  align-self: center;
  color: $main_font_color;
  padding: 2rem 0;
  border-bottom: 1px solid $gray_border;

  & > .image {
    width: 100%;
    margin: 5rem 0;
  }

  & > .title {
    margin: 2rem 0;
    h5 {
      color: $main_font_color;
    }
  }
}
.relatedArticles {
  width: 80%;
  align-self: center;
  padding: 2rem 0;
  & > .title {
    margin: 2rem 0;
    h5 {
      color: $main_font_color;
    }
  }
}
