@import "./../../../../../assets/scss/abstract/headquarters";
:host {
  box-shadow: 0 0 5px 0px $blue_boxShadow;
  border-radius: $border_radius;
}

.replyContainer {
  .header {
    border-bottom: 1px solid $gray_border;
    margin: 0 4rem;
    .avatar {
      padding: 2rem 0;

      .image {
        position: relative;
        img {
          width: 60%;
          border-radius: 50%;
          border: 2px solid $blue;
          padding: 0.1rem;
        }
      }

      .name {
        color: $main_font_color;
        .date {
          color: $font_light_gray;
        }
      }
    }
  }

  .description {
    padding: 2rem 5rem;
  }
  .replies{
      width: 100%;
  }
}
