<div class="replyContainer">
  <div class="col-md-16 col-xs-16 between-md middle-md header">
    <div class="col-8-md col-xs-16 middle-md flex-col avatar">
      <div class="col-2-md col-xs-8">
        <div class="flex-col middle-md center-md image">
          <img src="/assets/img/Mask1.png" alt="" />
        </div>
      </div>
      <div class="col-6-md col-xs-8 col-xs-6 column-xs flex-col column-md name">
        <p>بهزاد درباسی زاده</p>
        <div class="date"><p>خرداد 1398</p></div>
      </div>
    </div>
  </div>
  <div class="col-16-md col-xs-16 description">
    <p>
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
      طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
      که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
      بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال
      و آینده شناخت فراوان جامعه و متخصصان را می طلبد
    </p>
  </div>
</div>
