<div class="row setHeight">
  <div class="col-md-8 column-md middle-md center-md">
    <div class="title">
      <p>{{ formTitle }}</p>
    </div>
    <div class="inputContainer">
      <ng-container *ngFor="let item of selectBoxContent">
        <app-select-box
          [title]="item.title"
          [items]="item.content"
        ></app-select-box>
      </ng-container>
      <div class="flex-col quantityRow">
        <div class="col-md-10">
          <p>حداقل اقامت</p>
        </div>
        <div class="col-md-6 center-md">
          <app-quantity
            [minValue]="0"
            (QuantityNum)="getQuantityValue($event)"
          ></app-quantity>
        </div>
      </div>
    </div>
    <div class="flex-col between-md links">
      <app-buttons
        (click)="decProgress()"
        [btnTitle]="prevBtnTitle"
        [customClass]="prevBtnCustomClass"
        [icon]="iconValue"
      ></app-buttons>
      <app-buttons
        (click)="incProgress()"
        [btnTitle]="nextBtnTitle"
        [customClass]="nextBtnCustomClass"
      ></app-buttons>
    </div>
  </div>
  <div class="col-md-8 middle-md center-md">
    <app-info-card
      [title]="info[0].infoTitle"
      [content]="info[0].infoContent"
      class="col-md-8"
      *ngIf="info"
    ></app-info-card>
  </div>
</div>
