@import './../abstract/headquarters';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  direction: rtl;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
}
input {
  border: none;
  outline: none;
}
button {
  background-color: $white;
  border: none;
  outline: none;
  cursor: pointer;
}
html {
  font-family: 'iransans';
  font-size: $rem_default;
  @include responsive('lg') {
    font-size: $rem_default * 1.2;
  }
  @include responsive('xlg') {
    font-size: $rem_default * 1.4;
  }
  @include responsive('xxlg') {
    font-size: $rem_default * 1.8;
  }
}
*,
body {
  font-family: 'iransans';
}
*,
body {
  font-size: $rem_value * 1.3;
}
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background: $white;
}
::-webkit-scrollbar-thumb {
  background-color: $dark_gray_bg;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $blue;
}
