<div class="cardCont">
  <a [routerLink]="['/exprience']">
    <div class="sliderCont" [style.backgroundImage]="
          'url(assets/img/56b96d18-8a29-45e3-b714-a9df8728dc0f.png)'
        "></div>
    <!-- <div class="flex-col middle-md center-md priceCont">
      <div class="col middle-md center-md">
        <p>هر نفر</p>
      </div>
      <div class="col middle-md center-md">
        <p>350,000 تومان</p>
      </div>
    </div> -->
    <div class="descriptionCont">
      <p class="mainTitle">بازدید از حیوانات وحشی مثل گرگ</p>
    </div>
    <div class="flex-col between-md between-sm between-xs detailsCont">
      <div class="col-md-8 location">
        <p class="pColor">تهران , برج میلاد</p>
      </div>
      <div class="col-md-8 middle-md center-md rate">
        <div class="flx-col middle-md">

          <span class="icon-rate_fill">

          </span>
          <p>
            ۵ ستاره
          </p>
        </div>
      </div>
    </div>
  </a>
</div>