<div class="cardCont">
  <div class="sliderCont">
    <owl-carousel-o [options]="customOptionsForImage" class="removeCustomSliderStyle">
      <ng-container *ngFor="let slide of cardData.images">
        <ng-template carouselSlide>
          <img [src]="slide.image" [alt]="slide.alt" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <a [routerLink]="cardData.link">
    <div class="flex-col middle-md center-md priceCont">
      <div class="col middle-md center-md">
        <p>اجاره هر شب</p>
      </div>
      <div class="col middle-md center-md">
        <p>{{ cardData.price }} تومان</p>
      </div>
    </div>
    <div class="flex-col">
      <div class="descriptionCont">
        <b class="mainTitle">{{ cardData.title }}</b>
        <p class="subTitle" style="color: #b1b1b1;">{{ cardData.location }}</p>
      </div>
      <ng-container *ngIf="cardData.medal">
        <!-- <div class="icon-medal">
          <span class="path1"></span>
          <span class="path2"></span>
          <span class="path3"></span>
          <span class="path4"></span>
          <span class="path5"></span>
          <span class="path6"></span>
        </div> -->
      </ng-container>
      <ng-container *ngIf="cardData.verified">
        <!-- <div class="icon-accepted">
          <span class="path1"></span>
          <span class="path2"></span>
          <span class="path3"></span>
          <span class="path4"></span>
        </div> -->
      </ng-container>
    </div>
    <div class="flex-col detailsCont">
      <div class="col-md-16 between-sm between-md between-xs detailItems">
        <ng-container *ngFor="let detail of cardData.details">
          <div
            class="col column-md column-sm column-xs middle-sm middle-xs middle-md center-sm center-xs center-md detail">
            <span class="{{ detail.icon }} "></span>
            <p>{{ detail.title }}</p>
          </div>
        </ng-container>
      </div>
      <div class="col-sm-16 between-sm mobileView" style="width: 100%;">
        <app-rating [rating]='1' [itemId]='' (ratingClick)='""'
          style="justify-content: center;align-items: center;display: flex;"></app-rating>
        <span class="icon-avatar" style="font-size: 4rem; margin: 1rem 0.5rem;"></span>
      </div>
    </div>
  </a>
  <div class="discount">
    <p>
      <span>
        <!-- {{ cardData.precent }} -->
        18%
      </span>
      تخفیف
    </p>
  </div>
  <div class="bookmark">
    <span class="icon-bookmark_off">
      <div class="path1"></div>
      <div class="path2"></div>
    </span>
  </div>
</div>
