<div class="flex-col between-md myProfileContainer">
  <div class="col-md-4 col-sm-4 col-xs-4 top-md">
    <div class="profileCard">
      <div class="flex-col middle-md column-md userInfo links">
        <div>
          <h6 style="padding: 0.5rem">
            اعتبار شما :
          </h6>
          <div class="square">

            <h5 style="width: 13rem;">
              75000
            </h5>
            <p class="sys">
              تومان
            </p>
          </div>
          <p style="margin-top: 1.5rem;">
            <app-buttons [btnTitle]="increaseCreditlTitle" [btnURL]="increaseCreditURLLink" [icon]="increaseCreditIcon"
              [customClass]="increaseCreditCustomClass">
            </app-buttons>
          </p>
        </div>
        <div class="flex-col center-md column-md column-sm column-xs"
          style="border-bottom: 1px solid #dbe4f9 ; width: 100%; padding-bottom: 2rem;"></div>
        <p style="margin-top: 1.5rem;">
          <app-buttons [btnTitle]="TransactionsTitle" [btnURL]="TransactionsURLLink" [icon]="TransactionsIcon"
            [customClass]="TransactionsCustomClass">
          </app-buttons>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-11">
    <router-outlet></router-outlet>
  </div>
</div>