<div class="flex-col column-md middle-md center-md hostingHeroContainer"
  [style.backgroundImage]="'url(assets/img/hostinghero.jpg)'">
  <div class="overlay"></div>
  <div class="content">
    <div class="title">
      <h2>میزبان موسم شوید و کسب درآمد کنید</h2>
    </div>
    <div class="subTitle">
      <p>
        با عضویت در موسم و ثبت واحد اقامتی خود ( ویلا، آپارتمان، خانه، سوئیت،
        اقامتگاه روستایی عشایری و بوم‌گردی ) می‌توانید درآمد بالایی داشته باشید.
      </p>
    </div>
    <app-buttons [btnTitle]="hostTitleBtnName" [btnURL]="hostURlLink" [customClass]="hostCustomClass" [icon]="btnIcon">
    </app-buttons>
  </div>
</div>