<div class="col-md-16 column-sm">
  <div class="col-md-8 middle-md center-md recoverBg">
    <img src="assets/img/SVGs/forgot_password_gi2d.svg" alt="" />
  </div>
  <div class="col-md-8 middle-md center-md center-sm middle-sm">
    <ng-container *ngIf="getmobile">
      <div class="recoverForm">
        <app-inputs
          [type]="mobileType"
          [value]="mobileVal"
          [placeholderValue]="mobileplaceholder"
        ></app-inputs>
        <div class="flex-col center-md center-sm recoverBtn">
          <button class="btn btn_blue" (click)="getMobileFun()">ارسال کد بازیابی</button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!getmobile">
      <div class="recoverForm">
        <app-inputs
          [type]="codeType"
          [value]="codeVal"
          [placeholderValue]="codeplaceholder"
        ></app-inputs>
        <app-inputs
          [type]="newpassType"
          [value]="newpassVal"
          [placeholderValue]="newpassplaceholder"
        ></app-inputs>
        <app-inputs
          [type]="newpasscheckType"
          [value]="newpasscheckVal"
          [placeholderValue]="newpasscheckplaceholder"
        ></app-inputs>
        <div class="flex-col between-md between-sm recoverBtn">
          <button class="btn btn_green_bordered">ارسال مجدد کد</button>
          <button class="btn btn_blue">تغییر رمز عبور</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
