@import './../../../../assets/scss/abstract/headquarters';


.recoverBg {
  margin-top: 5rem;
  img {
    height: 100%;
    @include responsive(sm){
      width: 100%;
    }
  }
}
.recoverForm {
  width: 100%;
  padding: 2rem 4rem;
  @include responsive(sm){
    padding: 0 4rem;
  }
  .recoverBtn {
    margin-top: 1rem;
    @include responsive(sm){
      margin-top: 5rem;
    }
    .btn {
      padding: 1rem 5rem;
      @include responsive(sm){
        padding: 1rem 2rem;
      }
      border-radius: $border_radius * 2;
      transition: box-shadow 0.2s;
      &:hover {
        box-shadow: 0 0.4rem 1rem rgba($color: #000000, $alpha: 0.3);
      }
      &_blue {
        background-image: linear-gradient(
          145deg,
          $blue 0%,
          $blue 50%,
          $white 50%
        );
        background-size: 300%;
        color: $white;
        transition: 0.5s;
        &:hover {
          background-position: 100%;
          color: $blue;
        }
      }
      &_green_bordered {
        color: $green;
        border: 1px solid $green;
        background-image: linear-gradient(
          145deg,
          transparent 0%,
          transparent 50%,
          $green 50%
        );
        background-size: 300%;
        transition: 0.5s;
        &:hover {
          color: $white;
          background-position: 100%;
        }
      }
    }
  }
  .recoveryLink {
    margin-top: 3rem;
    > a {
      margin-right: 1rem;
      color: $blue;
    }
  }
}
