<div class="col-md-16 between-md ">
  <div class="flex-col locationFilters">
    <div class="flex-col mainOverlay"></div>
    <div class="flex-col middle-md center-md item">
      <p>انتخاب استان</p>
      <i class="icon-arrow_down"></i>

      <div class="flex-col">
        <div class="flex-col column-md listItems">
          <div class="flex-col middle-md center-md items">
            <ng-container>
              <div class="flex-col middle-md search">
                <input type="text" placeholder="استان خودرا جستجو کنید..." />
                <span class="flex-col center-md middle-md icon-search"></span>
              </div>
            </ng-container>
          </div>
          <div class="col-16-md middle-md start-md items">
            <div class="flex-col column-md cities">
              <p>آذربایجان شرقی</p>
              <p>آذربایجان غربی</p>
              <p>اصفهان</p>
              <p>اردبیل</p>
              <p>سمنان</p>
              <p>تهران</p>
              <p>یزد</p>
              <p>مرکزی</p>
              <p>هرمزگان</p>
              <p>آذربایجان شرقی</p>
              <p>آذربایجان غربی</p>
              <p>اصفهان</p>
              <p>اردبیل</p>
              <p>سمنان</p>
              <p>تهران</p>
              <p>یزد</p>
              <p>مرکزی</p>
              <p>هرمزگان</p>
              <p>آذربایجان شرقی</p>
              <p>آذربایجان غربی</p>
              <p>اصفهان</p>
              <p>اردبیل</p>
              <p>سمنان</p>
              <p>تهران</p>
              <p>یزد</p>
              <p>مرکزی</p>
              <p>هرمزگان</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-col middle-md center-md item">
      <p>انتخاب شهر</p>
      <i class="icon-arrow_down"></i>
    </div>
  </div>

  <div class="flex-col roomFilters">
    <div class="flex-col middle-md center-md item">
      <p>از تاریخ .. تا تاریخ</p>
      <i class="icon-arrow_down"></i>
    </div>
    <div class="flex-col middle-md center-md item">
      <p>قیمت</p>
      <i class="icon-arrow_down"></i>
    </div>
    <div class="flex-col middle-md center-md item">
      <p>نوع اقامتگاه</p>
      <i class="icon-arrow_down"></i>
    </div>
    <div class="flex-col middle-md center-md item">
      <p>بیشتر فیلتر کن</p>
      <i class="icon-arrow_down"></i>
    </div>
  </div>
</div>
