@import './../../../../../assets/scss/abstract/headquarters';

.infoCardContainer {
  border-radius: $border_radius * 2;
  border: 0.1rem solid $gray_border;
  width: 100%;
  overflow: hidden;

  .title {
    color: $blue;
    background-color: $light_blue;
    padding: 2rem 0;

    p {
      font-weight: 600;
    }
  }



  .content {
    padding: 1rem;

    .contentTitle {
      margin-top: 1rem;

      p {
        font-weight: 600;
      }
    }
  }
}
