<div style="background-color: white;
width: 30rem;
height: 25rem;
position: absolute;
z-index: 1000;
/* left: -134px; */
right: -10.5rem;">
  <div style="margin-top: 2.5rem;">
    <div class=" flex-col">
      <p class="">
        یکشنبه ۱۹ خرداد :
      </p>
      <p class="" style="margin-right: 10rem;">
        یکشنبه ۱۹ خرداد :
      </p>
    </div>
    <div class="flex-col flex-end">
      <p class="">
        یکشنبه ۱۹ خرداد :
      </p>
      <p style="margin-right: 10rem;">
        یکشنبه ۱۹ خرداد :
      </p>
    </div>
  </div>
</div>