<div class="appHeroContainer">
  <div class="curveBg"></div>
  <div class="row">
    <div class="col-md-8 middle-md center-md phoneImageContainer">
      <div class="flex-col middle-md center-md mobile pixel">
        <img src="assets/img/pixel.png" alt="" />
        <span class="icon-logo"></span>
      </div>
      <div class="flex-col middle-md center-md mobile iphone">
        <img src="assets/img/iphonex.png" alt="" />
        <span class="icon-logo"></span>
      </div>
    </div>
    <div class="col-md-8 column-md middle-md descriptionContainer">
      <div class="title">
        <h2>اپلیکیشن موسم</h2>
      </div>
      <div class="description">
        <p>
          همه جا به راحتی سفر کنید با اپلیکیشن رزرو اقامتگاه موسم. سفری پیش رو
          دارید؟ با موسم هرجا که باشین می‌تونین قبل از سفر خیلی راحت محل
          اقامت‌تون رو انتخاب و رزرو کنید.
        </p>
      </div>
      <div class="col-md-16 column-md appLinks">
        <p class="text">
          برای دریافت لینک دانلود اپلیکیشن موسم، شماره موبایل خود را وارد کنید.
        </p>
        <div class="flex-col inputCont">
          <input
            class="phoneInput"
            type="text"
            placeholder="شماره موبایل خود را وارد کنید"
          />
          <button class="phoneBtn">دریافت</button>
        </div>
        <div class="flex-col middle-md between-md links">
          <div class="col-md-6">
            <a href="http://" class="storeicon">
              <img src="assets/img/googleplay.png" alt="" />
            </a>
          </div>
          <div class="col-md-6">
            <a href="http://" class="storeicon">
              <img src="assets/img/sibapp.png" alt="" />
            </a>
          </div>
          <div class="col-md-6">
            <a href="http://" class="storeicon">
              <img src="assets/img/cafebazar.png" alt="" />
            </a>
          </div>
          <div class="col-md-6">
            <a href="http://" class="storeicon">
              <img src="assets/img/appstore.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
