<form>
  <div style="padding-top: 1rem;" class="flex-col">
    <input type="checkbox" id="cbx" style="display:none">
    <label for="cbx" class="toggle"><span></span></label>
    <p style="margin-right: 2rem;">نمایش میزبان های تایید شده</p>
  </div>

  <div style="padding-top: 1rem;" class="flex-col">
    <input id="cbx2" type="checkbox" style="display:none">
    <label for="cbx2" class="toggle"><span></span></label>
    <p style="margin-right: 2rem;">
      امکان کنسل کردن رزرو در هر زمان
    </p>
  </div>
</form>