@import './../../../../../assets/scss/abstract/headquarters';

:host {
  width: 100%;
  @include flex ("", center, center, "", "");
}

.circle {
  text-align: center;
  border-radius: 50%;
  background: #f2fbf7;
  width: 13.5rem;
  height: 13rem;
  color: #5fce9b
}

.bgc {
  margin-top: 1rem;
  background-color: white;
}

.square {
  text-align: center;
  // border: solid 0.1rem gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #dbe4f9;
  color: #0389ff;
}

.sys {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.space {
  margin-bottom: 2.5rem;
  padding-right: 1rem;
}

.pad {
  padding: 0.5rem;
}

.myProfileContainer {
  width: 100%;
  padding: 2rem 0;

  .profileCard {
    width: 100%;
    background-color: $white;
    // border: 0.1rem solid $gray_border;
    box-shadow: 0 0.1rem 0.2rem $blue_boxShadow;
    border-radius: $border_radius;
    padding: 1rem;

    .userInfo {
      // border-bottom: 0.1rem solid $gray_border;
      padding: 2rem 0 2rem 0;

      width: 100%;

    }

    .box {
      background-color: #f8f8f8;
      border-radius: 1.5rem;
      box-shadow: 0 0.4rem 1rem rgba($color: #000000, $alpha: 0.3);
    }

    .links {
      >a {}
    }
  }
}

.padding {
  padding-bottom: 2 rem;
}

.spanTitle {
  padding-top: 1.5rem;
  color: gray;
}

.bPadding {
  padding-bottom: 2 rem;
}

.editprofileContainer {
  width: 100%;
  // border: 0.1rem solid $gray_border;
  box-shadow: 0 0.1rem 0.2rem $blue_boxShadow;
  border-radius: $border_radius;
  // background-color: $white;
  //   padding: 1rem;

  .editprofileHeader {
    width: 100%;
    padding: 1.5rem 0;
    // margin-bottom: 2.5rem;

  }

  .editprofileHeader2 {
    width: 100%;
    padding: 1.5rem 0;
    // margin-bottom: 2.5rem;
    box-shadow: 0 0.1rem 0.2rem $blue_boxShadow;
  }
}

.border-bottom {
  border-bottom: 0.1rem solid $gray_border;
  box-shadow: 0 0.1rem 0.2rem $blue_boxShadow;
  background-color: $white;
  border-radius: 2rem;
}

.editprofileCards {
  width: 100%;
  // background-color: $white;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: $border_radius;
}

.cardCont {
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: $border_radius;
  box-shadow: 0 0 5px 0px $white;

  .sliderCont {
    border-top-left-radius: $border_radius;
    border-top-right-radius: $border_radius;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .priceCont {
    padding: 1rem 0;
    background-color: $light_blue;
    border-bottom-left-radius: $border_radius;
    border-bottom-right-radius: $border_radius;
  }

  .descriptionCont {
    padding: 2rem 1rem;
    border-bottom: 0.1rem solid $gray_border;

    .title {
      margin: 0.5rem 0;
    }
  }

  .detailsCont {
    padding: 1rem;
  }
}

:host {
  &.notSlider {
    width: 30rem;

    .cardCont {
      border: solid 0.05rem #dbe4f9;
      margin: 1rem;
    }
  }
}

.red {
  font-size: 0.8rem;
  padding: 0rem;
  border-radius: 5rem;
  color: #ff8585;
  background-color: #ffefef;
  background-size: 300%;
  transition: 0.5s;
}

.inBox {
  font-size: 0.8rem;
  border-radius: 5rem;
  background-color: #ffefef;
  background-size: 300%;
  transition: 0.5s;
}

.box {
  position: absolute;
  bottom: -1.5rem;
  left: 1rem;
  border-radius: 5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 19rem;
  height: 3.5rem;
  background-color: #ffffff;
  text-align: center;
}

.redDropDown {
  padding: 0px;
  margin: 0px;
  font-size: 0.8rem;
  // color: $white;
  border-radius: 5rem 0 0 5rem;
  background-color: #ffdddd;

  // background-color: $red_dropDown;
  background-size: 300%;
  transition: 0.5s;
}

.blackUp {
  padding: 0px;
  margin: 0px;
  font-size: 0.8rem;
  border-radius: 5rem 0 0 5rem;
  transition: box-shadow 0.2s;
  background-color: #ffffff;
  background-size: 300%;
  transition: 0.5s;
}

.editprofileContainer {
  width: 100%;
  // border: 0.1rem solid $gray_border;
  box-shadow: 0 0.1rem 0.2rem $blue_boxShadow;
  border-radius: $border_radius;
  // background-color: $white;
  padding: 1rem;
  // margin-top: 2.5rem;
  // margin-bottom: 2.5rem;

  .editprofileHeader {
    width: 100%;

  }

  .pointer {
    cursor: pointer;
  }

  .editprofileContent {
    width: 100%;
    padding: 1rem 0;
    margin-top: 2rem;
    flex-wrap: wrap;

    .mainInputs {
      flex-wrap: wrap;
    }
  }
}

.space {
  padding-left: 2rem;
}

.status {
  color: $success_color;
}

.cancel {
  color: $danger_color;
}

.size {

  padding: 2rem;

}

.waiting {
  color: #ff9933;
}

.mt3 {
  margin-top: 3rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt4 {
  margin-top: 4rem;
}

.midTabel {

  width: 100%;
  margin-top: 2rem;
  padding-right: 8.5rem;
  padding: 1rem 0;

  &:first-child {
    padding: 0rem 0;
    border-top: 0.1rem solid $gray_border;
  }

  td,
  th {

    text-align: center;
    position: relative;
  }

}
