<div class="col-md-16 col-sm-11 col-xs-11 between-md ">
  <div class="flex-col column-md editprofileContainer">
    <div class="flex-col middle-md editprofileHeader">
      <div class="col-md-16  border-bottom " style="">
        <div class="col-md-16 column-md " style="margin-bottom: 0.5rem; ">
          <h6 class="pad">
            اقامتگاه‌های نشان‌شده
          </h6>
          <p class="space">
            اینجا می‌توانید اقامتگاه‌های نشان‌شده را مشاهده کنید.
          </p>
          <div class="col-md-16" style="margin-top: 1rem; border-top: 1px solid silver;margin-bottom: 1rem;">
            <div class="flex-col center-md" style="margin-top: 1rem;" [ngStyle]="{'flex': '1 1 auto'}">
              <p>
                مبلغ (تومان)
              </p>
            </div>
            <div class="flex-col center-md" style="margin-top: 1rem;" [ngStyle]="{'flex': '1 1 auto'}">
              <p>

                زمان
              </p>
            </div>
            <div class="flex-col center-md" style="margin-top: 1rem;" [ngStyle]="{'flex': '1 1 auto'}">
              <p>
                توضیحات
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="flex-col column-md " style="margin-bottom: 0.5rem; background-color: white  ; ">
      <div class="col-md-16" style="margin-top: 1rem; ">
        <div class="flex-col middle-md editprofileHeader2 " [ngStyle]="{'flex': '1 1 auto'}">
          <div class="col-md-16 between-md ">
            <div class="flex-col center-md ">
              <app-buttons [btnTitle]="arrowBtnTitle" [btnURL]="arrowURLLink" [icon]="arrowIcon"
                [customClass]="arrowCustomClass">
              </app-buttons>
            </div>
            <div class="flex-col center-md " [ngStyle]="{'flex': '1 1 auto'}">15,000 تومان</div>
            <div class="flex-col center-md " [ngStyle]="{'flex': '1 1 auto'}">جمعه 6 اردیبهشت 98 ساعت ۱۱:۱۵</div>
            <div class="flex-col center-md" [ngStyle]="{'flex': '1 1 auto'}">پرداخت شد</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-col column-md " style="margin-bottom: 0.5rem; background-color: white  ; ">
      <div class="col-md-16" style="margin-top: 1rem; ">
        <div class="flex-col middle-md editprofileHeader2 " [ngStyle]="{'flex': '1 1 auto'}">
          <div class="col-md-16 between-md ">
            <div class="flex-col center-md ">
              <app-buttons [btnTitle]="arrowBtnTitle" [btnURL]="arrowURLLink" [icon]="arrowIcon"
                [customClass]="arrowCustomClass">
              </app-buttons>
            </div>
            <div class="flex-col center-md " [ngStyle]="{'flex': '1 1 auto'}">15,000 تومان</div>
            <div class="flex-col center-md " [ngStyle]="{'flex': '1 1 auto'}">جمعه 6 اردیبهشت 98 ساعت ۱۱:۱۵</div>
            <div class="flex-col center-md" [ngStyle]="{'flex': '1 1 auto'}">پرداخت شد</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-col column-md " style="margin-bottom: 0.5rem; background-color: white  ; ">
      <div class="col-md-16" style="margin-top: 1rem; ">
        <div class="flex-col middle-md editprofileHeader2 " [ngStyle]="{'flex': '1 1 auto'}">
          <div class="col-md-16 between-md ">
            <div class="flex-col center-md ">
              <app-buttons [btnTitle]="arrowBtnTitle" [btnURL]="arrowURLLink" [icon]="arrowIcon"
                [customClass]="arrowCustomClass">
              </app-buttons>
            </div>
            <div class="flex-col center-md " [ngStyle]="{'flex': '1 1 auto'}">15,000 تومان</div>
            <div class="flex-col center-md " [ngStyle]="{'flex': '1 1 auto'}">جمعه 6 اردیبهشت 98 ساعت ۱۱:۱۵</div>
            <div class="flex-col center-md" [ngStyle]="{'flex': '1 1 auto'}">پرداخت شد</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>