<div class="flex-col column-md column-sm column-xs col-xs-16 footerCont">
  <div class="row column-md column-sm between-md center-md">
    <div class="col-md-16 col-sm-16 middle-sm start-sm column-sm center-md between-md top">
      <div
        class="col-md-11 col-sm-16 middle-sm start-sm column-sm flex-col middle-md column-xs center-xs middle-xs description">
        <div class="flex-col info">
          هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم
        </div>
        <div class="flex-col info">ایمیل: info@moosem.ir</div>
        <div class="flex-col info">شماره تماس: 021-95111559</div>
      </div>
      <div class="col-md-5 col-sm-16 middle-sm start-sm column-sm flex-row middle-md downloads">
        <div class="col-md-8">
          <a href="http://" class="storeicon">
            <img src="assets/img/sibapp.png" alt="" />
          </a>
        </div>
        <div class="col-md-8">
          <a href="http://" class="storeicon">
            <img src="assets/img/cafebazar.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-16 column-sm body">
      <div class="col-md-11 column-md column-sm start-sm middle-sm items">
        <div class="title">دسترسی سریع با موسم</div>
        <div class="flex-col links">
          <div class="col-md-8 column-md column-sm start-sm top-sm linksCont">
            <div class="link">
              <a [routerLink]="['/']">راهکار سازمانی موسم</a>
            </div>
            <div class="link"><a [routerLink]="['/']">قوانین و مقررات</a></div>
            <div class="link"><a [routerLink]="['/']">همکاری با ما</a></div>
            <div class="link"><a [routerLink]="['/']">اپلیکیشن موسم</a></div>
            <div class="link"><a [routerLink]="['/']">وبلاگ</a></div>
          </div>
          <div class="col-md-8 column-md column-sm start-sm top-sm  linksCont">
            <div class="link"><a [routerLink]="['/']">قوانين لغو رزرو</a></div>
            <div class="link"><a [routerLink]="['/']">سوالات متداول</a></div>
            <div class="link"><a [routerLink]="['/']">تماس با ما</a></div>
            <div class="link"><a [routerLink]="['about']">درباره ما</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-5 column-md column-sm middle-sm socialNetworks">
        <div class="header">در خبرنامه موسم عضو شوید</div>
        <div class="flex-col inputCont">
          <input class="phoneInput" type="text" placeholder="ایمیل خود را وارد کنید" />
          <button class="phoneBtn">عضویت</button>
        </div>
        <div class="flex-col socialLinks">
          <div class="col middle-md center-md socialLink">
            <a href="#"><img src="assets/img/linkedIn-icon.png" alt="" /></a>
          </div>
          <div class="col middle-md center-md socialLink">
            <a href="#"><img src="assets/img/twitter-icon.png" alt="" /></a>
          </div>
          <div class="col middle-md center-md socialLink">
            <a href="#"><img src="assets/img/facebook-icon.png" alt="" /></a>
          </div>
          <div class="col middle-md center-md socialLink">
            <a href="#"><img src="assets/img/instagram-icon.png" alt="" /></a>
          </div>
          <div class="col middle-md center-md socialLink">
            <a href="#"><img src="assets/img/telegram-icon.png" alt="" /></a>
          </div>
        </div>
        <div class="flex-col between-md namads">
          <div class="samandehi">
            <img src="assets/img/enamad.png" alt="" />
          </div>
          <div class="enamad"><img src="assets/img/enamad1.png" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footerBg" [style.backgroundImage]="cityBg"></div>
  <div class="col-md-16 col-sm-16 center-sm center-md middle-md middle-sm copyright">
    <div class="row  middle-md center-md">
      <p>
        تمامی خدمات این وب سایت دارای مجوزهای لازم از مراجع مربوطه می باشد و
        کليه حقوق اين سايت متعلق به شرکت تجارت الکترونیک موسم می‌باشد.
      </p>
    </div>
  </div>
</div>
