<div class="flex-col column-md center-md middle-md inputsCont">
  <h3>{{ title }}</h3>
  <div class="flex-col middle-md between-md col-md-8 inputCont">
    <label class="col-md-6" for="emailInput">شماره دوستت رو وارد کن:</label>
    <input class="phoneInput" name="emailInput" type="text" placeholder="شماره موبایل خود را وارد کنید" />
    <button class="phoneBtn">ارسال پیامک</button>
  </div>
  <div class="flex-col middle-md between-md col-md-8 inputCont">
    <label class="col-md-6" for="inviteLinkInput">لینک دعوت رو کپی کن و براش ارسال کن:</label>
    <input class="phoneInput" name="inviteLinkInput" type="text" placeholder="http://moo.sem/invitfriend20" />
    <button class="phoneBtn">کپی لینک</button>
  </div>
</div>
