@import './../../../../assets/scss/abstract/headquarters';

.inputsCont {
  margin: 12rem 0;

  h3 {
    color: $title_font_color;
    margin: 5rem 0;
  }

  .inputCont {
    margin-bottom: 2rem;
    padding: 2rem 0;
    width: 80%;

    .phoneInput {
      width: 75%;
      padding: 1rem;
      border: 1px solid $gray_border;
      border-top-right-radius: $border_radius * 3;
      border-bottom-right-radius: $border_radius * 3;

      &::placeholder {
        color: $font_light_gray;
      }
    }

    .phoneBtn {
      width: 25%;
      padding: 1rem;
      background-color: $blue;
      color: $white;
      border-top-left-radius: $border_radius * 3;
      border-bottom-left-radius: $border_radius * 3;
    }
  }
}
