<div class="row">
  <div class="flex-col center-md column-md attractionsContainer">
    <div class="flex-col middle-md between-md title">
      <h3>دیدنی‌ها</h3>
      <app-buttons
        [btnTitle]="seeMoreTitleBtnName"
        [btnURL]="seeMoreURLLink"
        [customClass]="seeMoreCustomClass"
      ></app-buttons>
    </div>
    <div class="flex-col content">
      <app-secondary-card class="notSlider"></app-secondary-card>
      <app-secondary-card class="notSlider"></app-secondary-card>
      <app-secondary-card class="notSlider"></app-secondary-card>
      <app-secondary-card class="notSlider"></app-secondary-card>
    </div>
  </div>
</div>
