@import './../../../../assets/scss/abstract/headquarters';
.quantityContainer {
  .mines {
    width: 2rem !important;
    height: 2rem;
    padding: 1rem;
    border-radius: 50%;
    border: 0.1rem solid $blue;
    color: $blue;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    p{
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }
  .number {
    width: 4rem !important;
    height: 2rem;
    font-size: 1.5rem;
    user-select: none;
  }
  .plus {
    width: 2rem !important;
    height: 2rem;
    position: relative;
    padding: 1rem;
    border-radius: 50%;
    border: 0.1rem solid $blue;
    background-color: $blue;
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;

    p{
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }
}
