<div class="flex-col middle-md navigation">
  <ul class="flex-col middle-md">
    <li class="col">
      <a class="col middle-md center-md link" routerLinkActive="active" [routerLink]="['myProfile']">
        <span class="icon-profile"></span>
        <p>پروفایل من</p>
      </a>
    </li>
    <li class="col">
      <a class="col middle-md center-md link" routerLinkActive="active" [routerLink]="['myReserve']">
        <span class="icon-invoice"></span>
        <p>رزرو‌های من</p>
      </a>
    </li>
    <li class="col">
      <a class="col middle-md center-md link" routerLinkActive="active" [routerLink]="['hostManagment']">
        <span class="icon-house-outline"></span>
        <p>مدیریت اقامتگاه</p>
      </a>
    </li>
    <li class="col">
      <a class="col middle-md center-md link" routerLinkActive="active" [routerLink]="['favorite']">
        <span class="icon-rate_strocke"></span>
        <p>علاقه مندی های من</p>
      </a>
    </li>
    <li class="col">
      <a class="col middle-md center-md link" routerLinkActive="active" [routerLink]="['myCredit']">
        <span class="icon-wallet"></span>
        <p>اعتبار من</p>
      </a>
    </li>
    <li class="col">
      <a class="col middle-md center-md link" routerLinkActive="active" [routerLink]="['myMessages']">
        <span class="icon-message"></span>
        <p>صندوق پیام ها</p>
      </a>
    </li>
    <li class="col">
      <a class="col middle-md center-md link" [routerLink]="['/']">
        <span class="icon-exit"></span>
        <p>خروج</p>
      </a>
    </li>
  </ul>
</div>
