<!-- <div class="flex-col column-md setRoomBedsContainer">
    <div class="flex-col column-md setRoomHeader">
      <div class="flex-col">
        <div class="col-md-10 column-md">
          <div class="title">
            <h6>{{ title }}</h6>
          </div>
        </div>
        <div class="col-md-6 end-md">
          <app-buttons (click)="open()" [btnURL]="''" [btnTitle]="BtnTitle" [customClass]="BtnCustomClass"></app-buttons>
        </div>
      </div>
    </div>
    <div class="flex-col column-md setRoomContent hidden" [ngClass]="{ show: openVal }">
      <div class="flex-col quantityRow">
  
        <div class="col-md-16 column-md between-md center-md">
          <ng-container *ngFor="let item of inputInfo">
            <div class="flex-col">
              <p style="margin-top: 2rem; width: 40%;">{{ item.title }}</p>
              <app-inputs [type]="item.inputType" [value]="item.inputVal" [placeholderValue]="item.inputPlaceholder"
                [customClass]="item.inputClass" [icon]="item.inputIcon"></app-inputs>
              <ng-container *ngFor="let item of inputInfo.selectbox; let i = index">
                <app-selectbox [id]="i" [data]="item"></app-selectbox>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="flex-col inputContainer">
  
      </div>
    </div>
  </div> -->