<div class="flex-col column-md editprofileContainer">
    <div class="flex-col middle-md editprofileHeader">
      <div class="col-md-15">
        <div class="flex-col column-md">
          <h6>
            (میزبان) اقامتگاه‌های رد شده
  
          </h6>
          <p>
            اینجا می‌توانید گزارش خریدهایتان را با تاریخ و ساعت دقیق ببینید و نتیجه خرید را بررسی نمایید
          </p>
        </div>
      </div>
    </div>
    <div class="flex-col middle-md editprofileHeader ">
      <div class="col-md-16 ">
        <table class=" center-md midTabel  ">
          <tr>
            <th>شماره پیگیری</th>
            <th>تاریخ درخواست</th>
            <th>تعداد افراد</th>
            <th>تاریخ ورود و خروج</th>
            <th>وضعیت</th>
          </tr>
          <tr>
            <td>44521</td>
            <td>1398/۰2/03</td>
            <td> 50 </td>
            <td>1398/۰2/03 تا 1398/۰2/20 </td>
            <td class="cancel">رد شده</td>
          </tr>
          <tr>
            <td>44521</td>
            <td>1398/۰2/03</td>
            <td> 50 </td>
            <td>1398/۰2/03 تا 1398/۰2/20 </td>
            <td class="cancel">رد شده</td>
          </tr>
          <tr>
            <td>44521</td>
            <td>1398/۰2/03</td>
            <td> 50 </td>
            <td>1398/۰2/03 تا 1398/۰2/20 </td>
            <td class="cancel">رد شده</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- <div class="flex-col middle-md center-md editProfileContent">
      <div class="col-md-16">
        <table class="flex-col center-md startr-md midTabel">
        </table>
      </div>
    </div> -->
  </div>
  