<div class="socialloginContainer">
  <div class="title">
    <p>با استفاده از شبکه های اجتماعی خود وارد شوید.</p>
  </div>
  <div class="flex-col col-sm-16 between-sm">
    <div class="col-sm-8 authBtn">
      <button class="flex-col middle-md between-md between-sm btn googlePlus">
        <p>ورود با گوگل</p>
        <span class="icon-google_plus"></span>
      </button>
    </div>
    <div class="col-sm-8 authBtn">
      <button class="flex-col middle-md btn pod">
        <p>ورود با پاد</p>
        <span></span>
      </button>
    </div>
  </div>
</div>
