<!-- <div class="flex-col between-md myProfileContainer">
  <div class="col-md-4 top-md">
    <div class="profileCard">
      <div class="flex-col middle-md column-md userInfo links">
        gfyhjj
        <app-buttons [btnTitle]="newResidenceRegistrationBtnName" [btnURL]="newResidenceRegistrationURLLink"
          [icon]="newResidenceRegistrationBtnIcon" [customClass]="newResidenceRegistrationCustomClass"></app-buttons>
      </div>
      <div class="flex-col column-md ">

      </div>
    </div>
  </div>
  <div class="col-md-11 "> -->
<!-- zsrewh -->
<router-outlet></router-outlet>
<!-- 
  </div>

</div> -->
