<div class="cardCont">
  <div class="flex-col between-md sliderCont" [style.backgroundImage]="'url(assets/img/Image13.png)'"></div>
  <div class="descriptionCont">


    <p>
      اقامتگاه بوم گردی شاطربمون

    </p>

  </div>
  <div class="flex-col detailsCont">
    <div class="col flex-start">
      <p class="mainTitle">
        یزد , میبد
      </p>
    </div>
    <div class="col-md-2 middle-md center-md rate">
      <div class="col middle-md center-md">
        <p>
          <app-buttons [btnTitle]="favoriteBtnName" [btnURL]="favoriteURLLink" [icon]="favoriteBtnIcon"
            [customClass]="favoriteCustomClass"></app-buttons>
        </p>
      </div>
    </div>
  </div>
</div>
