<div class="row">
  <div class="flex-col center-md middle-md title">
    <h3>روش کار موسم برای میزبانان</h3>
  </div>
  <div class="col-md-16 flex-col middle-md between-md">
    <div
      *ngFor="let item of items"
      class="col column-md center-md middle-md mechanismContainer"
    >
      <div class="image">
        <img [src]="item.image" alt="" />
      </div>
      <div class="title">
        <p>{{ item.title }}</p>
      </div>
      <div class="description">
        <p>{{ item.sub }}</p>
      </div>
    </div>
  </div>
</div>
