@import './../../../../assets/scss/abstract/headquarters';
:host {
  width: 100%;
  &.nopadding {
    .input {
      padding: 0.5rem 1rem !important;
    }
  }
}
.inputContainer {
  width: 100%;
  position: relative;
  .input {
    padding: 1rem;
    width: 100%;
    margin: 1rem 0;
    border: 0.1rem solid $gray_border;
    border-radius: $border_radius * 3;
    &.center {
      text-align: center;
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    cursor: pointer;
  }
}
