<div class="appOptionContainer">
  <div class="row">
    <div class="col-md-8 column-md titles">
      <div class="flex-col start-md mainTitle">
        <h3>امکانات اپلیکیشن موسم</h3>
      </div>
      <div class="titleContent">
        <p>
          در زیر به برخی از امکانات اپلیکیشن موسم اشاره شده است و مفتخریم که با
          پیشنهادات و انتقادات شما هر روز پیشرفت میکنیم.
        </p>
      </div>
    </div>
    <div class="col-md-16 ">
      <div class="col contents">
        <div class="col-md-16 items">
          <div class="col-md-10">
            <div class="content">
              <div class="title">
                <h5>دسترسی آسان</h5>
              </div>
              <div class="detail">
                <p>
                  تمامی هدف تیم ما این است که بتوانیم اپلیکیشنی راحت که کار با
                  آن لذت بخش است را ایجاد کنیم.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 middle-md center-md">
            <div class="flex-col middle-md center-md icon">
              <span class="icon-easy_access"></span>
            </div>
          </div>
        </div>
        <div class="col-md-16 items">
          <div class="col-md-10">
            <div class="content">
              <div class="title">
                <h5>مشاهده فاکتور های رزرو اقامتگاه</h5>
              </div>
              <div class="detail">
                <p>
                  در بخش رزرو های من تاریخچه تمامی رزرو های خود را مشاهده کرده.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 middle-md center-md">
            <div class="flex-col middle-md center-md icon">
              <span class="icon-log"></span>
            </div>
          </div>
        </div>
        <div class="col-md-16 items">
          <div class="col-md-10">
            <div class="content">
              <div class="title">
                <h5>مقایسه دقیق</h5>
              </div>
              <div class="detail">
                <p>
                  در بخش مشاهده جزییات اقامتگاه ها تمامی امکانات و آدرس اقاکتگاه
                  رو ی نقشه را مشاهده فرمایید.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 middle-md center-md">
            <div class="flex-col middle-md center-md icon">
              <span class="icon-balance"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="phoneImageContainer">
          <div class="flex-col middle-md center-md mobile pixel">
            <img src="assets/img/pixel.png" alt="" />
            <span class="icon-logo"></span>
          </div>
          <div class="flex-col middle-md center-md mobile iphone">
            <img src="assets/img/iphonex.png" alt="" />
            <span class="icon-logo"></span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col contents reverse">
          <div class="col-md-16 items">
            <div class="col-md-10">
              <div class="content">
                <div class="title">
                  <h5>دسترسی آسان</h5>
                </div>
                <div class="detail">
                  <p>
                    تمامی هدف تیم ما این است که بتوانیم اپلیکیشنی راحت که کار با
                    آن لذت بخش است را ایجاد کنیم.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 middle-md center-md">
              <div class="flex-col middle-md center-md icon">
                <span class="icon-create_account">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-16 items">
            <div class="col-md-10">
              <div class="content">
                <div class="title">
                  <h5>مشاهده فاکتور های رزرو اقامتگاه</h5>
                </div>
                <div class="detail">
                  <p>
                    در بخش رزرو های من تاریخچه تمامی رزرو های خود را مشاهده
                    کرده.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 middle-md center-md">
              <div class="flex-col middle-md center-md icon">
                <span class="icon-Check_accommodation"></span>
              </div>
            </div>
          </div>
          <div class="col-md-16 items">
            <div class="col-md-10">
              <div class="content">
                <div class="title">
                  <h5>مقایسه دقیق</h5>
                </div>
                <div class="detail">
                  <p>
                    در بخش مشاهده جزییات اقامتگاه ها تمامی امکانات و آدرس
                    اقاکتگاه رو ی نقشه را مشاهده فرمایید.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 middle-md center-md">
              <div class="flex-col middle-md center-md icon">
                <span class="icon-search_big"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
